@charset "UTF-8";
body {
  background-color: #F2F0F5;
  font-family: 'Merriweather', sans-serif;
  padding: 10px;
  min-height: 100vh; }

/* CSS NAV */
.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: space-between; }
  .nav__logo {
    height: 80px; }
    .nav__logo img:hover {
      transform: skewX(-10deg); }
  .nav__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .nav__right li {
      display: inline; }
    .nav__right a {
      text-decoration: none; }
    .nav__right__registro {
      font-weight: 600;
      margin: 5px 0px; }
      .nav__right__registro__link {
        color: #67368B; }
        .nav__right__registro__link:hover {
          color: #000000; }
    .nav__right__menu {
      background-color: #3C2F87;
      margin: 5px 0px;
      padding: 10px; }
      .nav__right__menu li {
        padding: 0px 3px; }
      .nav__right__menu__link {
        color: white; }
        .nav__right__menu__link:hover {
          color: #67368B; }

ul {
  list-style: none;
  padding-left: 0px; }

#logIn {
  border-left: 2px solid #67368B;
  padding-left: 3px; }

/* CSS FOOTER */
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .footer__item {
    margin: 0px 30px;
    display: flex;
    align-items: center; }
    .footer__item a {
      margin-right: 5px; }
    .footer__item__link {
      color: #67368B; }
      .footer__item__link:hover {
        color: #3C2F87; }

/* ACA EMPIEZA CSS CONTENIDO */
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.content, .content__leer__capitulo, .content__leer__indexCap {
  background-color: #67368B;
  color: white;
  line-height: 1.7; }
  .content__tituloMain {
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding: 20px 0px; }
    .content__tituloMain span {
      text-transform: uppercase; }
  .content__tituloSection {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
    animation-duration: 3s;
    animation-name: aparecer; }
  .content__sinopsis {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "texto img"; }
    .content__sinopsis__texto {
      grid-area: texto;
      padding: 20px 20px 40px 50px;
      box-sizing: border-box; }
    .content__sinopsis__img {
      grid-area: img;
      padding: 20px 50px 40px 20px;
      box-sizing: border-box; }
  .content__about {
    padding: 20px 50px 30px 50px;
    border-top: 1px solid white; }
    .content__about__img {
      float: left;
      margin-right: 20px; }
  .content__leer {
    display: grid;
    grid-template-columns: 9fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "capitulo . indexCap"; }
    .content__leer__capitulo {
      padding: 40px 60px;
      box-sizing: border-box;
      grid-area: capitulo; }
      .content__leer__capitulo p {
        margin-bottom: 0.5rem; }
      .content__leer__capitulo__link {
        display: none;
        text-align: center;
        margin-top: 15px; }
        .content__leer__capitulo__link a {
          color: white;
          margin: auto; }
          .content__leer__capitulo__link a:hover {
            text-decoration: none;
            color: #3C2F87; }
    .content__leer__indexCap {
      padding: 15px 10px;
      text-align: center;
      grid-area: indexCap; }
      .content__leer__indexCap h3 {
        text-decoration: underline;
        margin-bottom: 10px; }
      .content__leer__indexCap__wrap {
        position: sticky;
        top: 30px; }
      .content__leer__indexCap__item {
        margin-bottom: 20px;
        transition: transform 1s; }
        .content__leer__indexCap__item:hover {
          transform: scale(1.5, 1.5); }
      .content__leer__indexCap__link {
        color: #ffffff; }
        .content__leer__indexCap__link:hover {
          color: #3C2F87;
          text-decoration: none; }
      .content__leer__indexCap__linkB {
        display: none;
        color: #ffffff; }
        .content__leer__indexCap__linkB:hover {
          color: #3C2F87;
          text-decoration: none; }
  .content__formWrap {
    display: flex;
    justify-content: center; }
  .content__form {
    padding: 15px; }
    .content__form__last {
      text-align: center; }
  .content__personajes {
    padding: 30px 50px; }
    .content__personajes__encabezado {
      margin-bottom: 40px; }
      .content__personajes__encabezado p {
        font-size: 1.2rem; }
    .content__personajes__seccion {
      margin-bottom: 30px;
      padding-left: 15px; }
      .content__personajes__seccion__item {
        margin-top: 5px; }
        .content__personajes__seccion__item span {
          text-decoration: underline; }
        .content__personajes__seccion__item a {
          text-decoration: none;
          color: white; }
          .content__personajes__seccion__item a:hover {
            color: #3C2F87; }
    .content__personajes__final {
      padding-left: 15px; }
      .content__personajes__final a {
        text-decoration: none;
        color: white; }
        .content__personajes__final a:hover {
          color: #3C2F87; }

#myModal {
  color: #000000; }

.overflow {
  overflow: auto; }

/* ACÁ EMPIEZA RESPONSIVE */
@media only screen and (max-width: 1025px) {
  .content__sinopsis {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "texto" "img"; }
  .content__sinopsis__texto {
    padding: 20px; }
  .content__sinopsis__img {
    padding: 10px 60px 20px 60px;
    box-sizing: border-box; } }

@media only screen and (max-width: 769px) {
  .content__leer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "indexCap" "capitulo"; }
    .content__leer__indexCap__wrap {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .content__leer__indexCap__wrap h3 {
        display: none; }
      .content__leer__indexCap__wrap div {
        margin-bottom: 0; }
    .content__leer__capitulo__link {
      display: block; } }

/* display:grid se aplica sobre el padre directo de las que van a ser las areas */
@media only screen and (max-width: 541px) {
  .content__sinopsis__img {
    padding: 10px 30px 20px 30px;
    box-sizing: border-box; } }

@media only screen and (max-width: 361px) {
  .content__personajes {
    padding: 30px 30px; }
  .content__leer__capitulo {
    padding: 20px 30px; }
  .content__leer__indexCap {
    padding-bottom: 0px; }
    .content__leer__indexCap__link {
      display: none; }
    .content__leer__indexCap__linkB {
      display: block; }
  .content__tituloMain {
    font-size: 2.5em;
    padding-bottom: 10px; }
  .content__sinopsis__texto {
    padding: 20px 10px 10px 10px; }
  .content__sinopsis__img {
    padding: 10px 10px 20px 10px; }
  .content__about {
    padding: 20px 30px; } }

@media only screen and (max-width: 321px) {
  .footer__item__link {
    display: none; }
  .content__about__img {
    margin-bottom: 20px; }
  .content__tituloMain {
    font-size: 2.3em; } }
