@charset "UTF-8";
body {
  background-color: #F2F0F5;
  font-family: 'Merriweather', sans-serif;
  padding: 10px;
  min-height: 100vh;
}

/* CSS NAV */
.nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: space-between;

  &__logo { 
    height: 80px;
    
    & img:hover {
      transform: skewX(-10deg);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 

    & li {
      display: inline;
    }
    
    & a {
      text-decoration: none; 
    }
      
    &__registro {
      font-weight: 600;
      margin: 5px 0px; 

      &__link {
        color: #67368B; 
      
        &:hover {
          color: #000000; 
        }
      }
    }

    &__menu {
      background-color: #3C2F87;
      margin: 5px 0px;
      padding: 10px;
    
      & li {
        padding: 0px 3px;
      }
  
      &__link {
        color: white; 

        &:hover {
          color: #67368B; 
        }
      }
    }
  }
} 

ul {
  list-style: none;
  padding-left: 0px; }

#logIn {
  border-left: 2px solid #67368B;
  padding-left: 3px; }

/* CSS FOOTER */
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  &__item {
    margin: 0px 30px;
    display: flex;
    align-items: center;

    & a {
      margin-right: 5px;
    }

    &__link {
      color: #67368B;
  
      &:hover {
        color: #3C2F87;
      }
    }
  }
}

/* ACA EMPIEZA CSS CONTENIDO */
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  background-color: #67368B;
  color: white;
  line-height: 1.7;

  &__tituloMain {
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding: 20px 0px;

    & span {
      text-transform: uppercase;
    }
  }

  &__tituloSection {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 20px; 
    animation-duration: 3s;
    animation-name: aparecer;

  }

  &__sinopsis {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "texto img";

    &__texto {
      grid-area: texto;
      padding: 20px 20px 40px 50px;
      box-sizing: border-box; 
    }

    &__img {
      grid-area: img;
      padding: 20px 50px 40px 20px; 
      box-sizing: border-box;
    }
  }

  &__about {
    padding: 20px 50px 30px 50px;
    border-top: 1px solid white;
    
    &__img {
      float: left;
      margin-right: 20px; 
    }
  }

  &__leer {
    display: grid;
    grid-template-columns: 9fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "capitulo . indexCap";

    &__capitulo {
      @extend .content;
      padding: 40px 60px;
      box-sizing: border-box; 
      grid-area: capitulo;
  
      & p {
        margin-bottom: 0.5rem;
      }
      
      &__link {
        display: none;
        text-align: center;
        margin-top: 15px;

        & a {
          color: white;
          margin: auto;

          &:hover {
            text-decoration: none;
            color: #3C2F87;
          }
        }
      }
    }
  
    &__indexCap {
      @extend .content;
      padding: 15px 10px;
      text-align: center; 
      grid-area: indexCap;
  
      & h3 {
        text-decoration: underline;
        margin-bottom: 10px; 
      }
  
      &__wrap {
        position: sticky;
        top: 30px;
      }
  
      &__item {
        margin-bottom: 20px;
        transition: transform 1s;
      
        &:hover {
          transform: scale(1.5,1.5); 
        }
      }
  
      &__link {
        color: #ffffff; 
  
        &:hover {
          color: #3C2F87;
          text-decoration: none; 
        }
      }

      &__linkB {
        display: none;
        color: #ffffff; 
  
        &:hover {
          color: #3C2F87;
          text-decoration: none; 
        }
      }
    }    
  }
  
  &__formWrap {
    display: flex;
    justify-content: center; 
  }

  &__form {
    padding: 15px; 

    &__last {
      text-align: center; 
    }
  }

  &__personajes {
    padding: 30px 50px;

    &__encabezado {
      margin-bottom: 40px;

      & p {
        font-size: 1.2rem;
      }
    }

    &__seccion {
      margin-bottom: 30px;
      padding-left: 15px;
    
      &__item {
        margin-top: 5px;

        & span {
          text-decoration: underline;
        }

        & a {
          text-decoration: none;
          color: white;

          &:hover {
            color: #3C2F87;
          }
        }
      }
    }

    &__final {
      padding-left: 15px;

      & a {
        text-decoration: none;
        color: white;

        &:hover {
          color: #3C2F87;
        }
      }
    }
  }
}

#myModal {
  color: #000000;
}

.overflow {
  overflow: auto; 
}

/* ACÁ EMPIEZA RESPONSIVE */
@media only screen and (max-width: 1025px) {
  .content__sinopsis {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "texto" "img";
  }

  .content__sinopsis__texto {
    padding: 20px;
  }

  .content__sinopsis__img {
    padding: 10px 60px 20px 60px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 769px) {
  .content__leer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "indexCap" "capitulo";

    &__indexCap__wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      & h3 {
        display: none;
      }
  
      & div {
        margin-bottom: 0;
      }
    }
    
    &__capitulo__link {
      display: block;
    }
  }  
} /* display:grid se aplica sobre el padre directo de las que van a ser las areas */

@media only screen and (max-width: 541px) {
  .content__sinopsis__img {
    padding: 10px 30px 20px 30px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 361px) {
  .content__personajes {
    padding: 30px 30px;
  }

  .content__leer__capitulo {
    padding: 20px 30px;
  }

  .content__leer__indexCap {
    padding-bottom: 0px;

    &__link {
      display: none;
    }
  
    &__linkB {
      display: block;
    }
  }
  
  .content__tituloMain {
    font-size: 2.5em;
    padding-bottom: 10px;
  }

  .content__sinopsis__texto {
    padding: 20px 10px 10px 10px;
  }

  .content__sinopsis__img {
    padding: 10px 10px 20px 10px;
  }

  .content__about {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 321px) {
  .footer__item__link {
    display: none;
  }

  .content__about__img {
    margin-bottom: 20px;
  }

  .content__tituloMain {
    font-size: 2.3em;
  }
}